<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Loggeroni</title>

    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				LOGIN PAGE :(
			</h3>
			<div class="u_fNK">
			</div>
			<div class="u_fNK">
				<div>
					<div>
						<div>
							<div>
								<div class="_5WizN _1QzSN">
									<div class="_3YmQx">
										<div class="_3QdKe">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				Pls don't login it uses my Google APIs and I need to pay money, go away pleaseee :(:(:(
			</h3>
			<form role="form" method="post" action="/auth/login">
				<div class="form-group">
					 
					<label for="inputEmail">
						Email address
					</label>
					<input type="email" class="form-control" id="inputEmail" name ="inputEmail" required>
				</div>
				<div class="form-group">
					 
					<label for="inputPassword">
						Password
					</label>
					<input type="password" class="form-control" id="inputPassword" name ="inputPassword" required Autocomplete>
				</div>
				<button type="submit" class="btn btn-primary">
					Login
				</button>
			</form>
		</div>
	</div>
</div>

    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/scripts.js"></script>
  </body>
</html>