<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>No</title>

    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/style.css" rel="stylesheet">

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                THIS IS MY HOME, WHY ARE U INSIDE MY HOME I CALL DA POLICE
            </h3>
            <% if (typeof logged === 'undefined' || !logged) { %>
                <button type="button" name="register" class="auto btn btn-primary">Register</button>
                <button type="button" name="login" class="auto btn btn-secondary">Login</button>
                <button type="button" name="google" class="auto btn btn-success">Login with Google</button>
                <button type="button" name="facebook" class="auto btn btn-success">Login with Facebook</button>
            <% } else { %>
                <a href="/secure/chart" class="auto btn btn-success">Accedi alla parte supersegreta :0</a>
            <% } %>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async (event) => {
        let buttons = document.querySelectorAll('button.auto');
        buttons.forEach((button) =>
            button.addEventListener('click', (e) => {
                openPage(e.target.getAttribute('name'));
            })
        );
    });

    function openPage(provider) {
        //altrimenti mi prende dentro la query string e non voglio
        window.location.href = window.location.href.split('?')[0] + 'auth/' + provider

        //sto schifo qua sotto poi fa esplodere il bottone indietro dei browser perchè non aggiunge un nuovo stato alla history :/
        //window.location.replace('/auth/' + provider);
    }

</script>
<script src="public/js/jquery.min.js"></script>
<script src="public/js/bootstrap.min.js"></script>
<script src="public/js/scripts.js"></script>
</body>
</html>
